{% extends 'base.html' %}

{% block hotQuestions %}	

		<div class="row">
			<div class="col-lg-8" id="content">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2" id="login_head">
				
		

{% for question in questions %}
						<div itemscope="" itemtype="" class="tickets-row">
						  <div class="panel panel-success">
						    <div class="panel-body">
						      <div class="name-section ticket-section">
						        <span class="name-section-style">
						        	{% for tag in question.tags.all %}
						          <a href="">
						            <span itemprop="articleSection">{{tag.title}}
						          </a>
						          	{%endfor%}
						        </span>
						      </div>

							<!--Заголовок вопроса-->
						      <h3 class="title title-ticket">
						        <a itemprop="url" href="">
						          <span itemprop="name">
						            <p><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> {{question.title}}</p>
						          </span>
						        </a>
						      </h3>



      <div class="content">
        <p>{{question.content}}</p>
        <div class="text-right">
          <a href="" class="btn btn-success">Читать дальше</a>
        </div>
      </div>
    </div>


    <<div class="panel-footer">
      <div data-id="">
        <span class="info-title-right">
          <span class="glyphicon glyphicon-calendar"></span>
          <span class="hidden" itemprop="datePublished" content="">
            2015-10-01
          </span>
          <span>{{question.created}}</span>
        </span>

        <span class="info-title-both">
	  <span class="glyphicon glyphicon-user"></span> 
          <span itemprop="author" itemscope="" itemtype="">
            <span itemprop="name">{{question.author}} </span>
          </span>
	</span>

	
            
	  
	  
	  <span class="glyphicon glyphicon-comment"></span> {{question.counts}}
	</span>
		
        <span class="info-title-last ticket-rating inactive">
	  <span class="vote plus" title="Нравится">
            <span class="glyphicon glyphicon-thumbs-up">{{question.rating}}</span>
          </span>
     <!--
	  <span class="rating" title="Всего 0: ↑0 и ↓0"></span>
	
	  <span class="vote minus" title="Не нравится">
            <span class="glyphicon glyphicon-thumbs-down">{{question.dislikes}}</span>
          </span>
	</span>-->
      </div>
    </div>
  </div>
</div>
{% endfor %}




	<div class="row">
		 		<div class="col-lg-8 col-lg-offset-3">
		 			<ul class="pagination">
                            {% if questions.has_previous %}
	                            <li>
	                                <a href="?page={{ questions.previous_page_number }}"><span class="badge badge-info">Назад</span></a>
	                            </li>
                       		{% endif %}

                        	{% if questions.has_next %}
                        		
                        		 {% if questions.has_previous %}
		                        <li>
		                          <a href="?page={{ questions.previous_page_number }}">{{ questions.previous_page_number}}</a>
		                        </li>
		                        {% endif %}


		                        <li class="active">
		                          <a href="?page={{ questions.number }}">{{ questions.number}}</a>
		                        </li>

		                        {% if questions.has_next %}
		                        <li>
		                          <a href="?page={{ questions.next_page_number }}">{{ questions.next_page_number}}</a>
		                        </li>
		                        {% endif %}
		              
		                        
                        	{% endif %}

                        	{% if questions.has_next %}
		                          <li>
		                            <a href="?page={{ questions.next_page_number }}"><span class="badge badge-info">Вперед</span></a>
		                          </li>
                        	{% endif %}
                        </ul>
		 		</div>
		 	</div>








					</div>
					
					
					</div>

				</div>


	
			
{% endblock %}




















