{% extends 'base.html' %}

{% block newQuestions %}	
		<div class="row">
			<div class="col-lg-8" id="content">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2" id="login_head">
						

<!-- Первый пост -->
						<div itemscope="" itemtype="" class="tickets-row">
						  <div class="panel panel-success">
						    <div class="panel-body">
						      <div class="name-section ticket-section">
						        <span class="name-section-style">
						          <a href="">
						            <span itemprop="articleSection">Программирование и Интернет
						          </a>
						        </span>
						      </div>

							<!--Заголовок вопроса-->
						      <h3 class="title title-ticket">
						        <a itemprop="url" href="">
						          <span itemprop="name">
						            <p><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Где скачать bootstrap?</p>
						          </span>
						        </a>
						      </h3>



      <div class="content">
        <p>Ребят, нужно ДЗ по WEB-у сделать. Не знаю, где скачать Bootstrap=)</p>
        <div class="text-right">
          <a href="" class="btn btn-success">Читать дальше</a>
        </div>
      </div>
    </div>


    <div class="panel-footer">
      <div data-id="">
        <span class="info-title-right">
          <span class="glyphicon glyphicon-calendar"></span>
          <span class="hidden" itemprop="datePublished" content="">
            2015-10-01
          </span>
          <span>01 октября 2015, 12:23</span>
        </span>

        <span class="info-title-both">
	  <span class="glyphicon glyphicon-user"></span> 
          <span itemprop="author" itemscope="" itemtype="">
            <span itemprop="name">Илья</span>
          </span>
	</span>

	<span class="info-title-both">
	  <span class="ticket-star"><i class="glyphicon glyphicon-star unstared star"></i> 
            <span class="ticket-star-count">0</span>
          </span>
	  &nbsp;&nbsp;
	  <span class="glyphicon glyphicon-eye-open"></span> 12
	  &nbsp;&nbsp;
	  <span class="glyphicon glyphicon-comment"></span> 0  
	</span>
		
        <span class="info-title-last ticket-rating inactive">
	  <span class="vote plus" title="Нравится">
            <span class="glyphicon glyphicon-thumbs-up"></span>
          </span>
	  <span class="rating" title="Всего 0: ↑0 и ↓0">0</span>
	  <span class="vote minus" title="Не нравится">
            <span class="glyphicon glyphicon-thumbs-down"></span>
          </span>
	</span>
      </div>
    </div>
  </div>
</div>
					
<!-- Второй пост -->
						<div itemscope="" itemtype="" class="tickets-row">
						  <div class="panel panel-success">
						    <div class="panel-body">
						      <div class="name-section ticket-section">
						        <span class="name-section-style">
						          <a href="">
						            <span itemprop="articleSection">Программирование и Интернет
						          </a>
						        </span>
						      </div>

							<!--Заголовок вопроса-->
						      <h3 class="title title-ticket">
						        <a itemprop="url" href="">
						          <span itemprop="name">
						            <p><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Где скачать bootstrap?</p>
						          </span>
						        </a>
						      </h3>



      <div class="content">
        <p>Ребят, нужно ДЗ по WEB-у сделать. Не знаю, где скачать Bootstrap=)</p>
        <div class="text-right">
          <a href="" class="btn btn-success">Читать дальше</a>
        </div>
      </div>
    </div>


    <div class="panel-footer">
      <div data-id="">
        <span class="info-title-right">
          <span class="glyphicon glyphicon-calendar"></span>
          <span class="hidden" itemprop="datePublished" content="">
            2015-10-01
          </span>
          <span>01 октября 2015, 12:23</span>
        </span>

        <span class="info-title-both">
	  <span class="glyphicon glyphicon-user"></span> 
          <span itemprop="author" itemscope="" itemtype="">
            <span itemprop="name">Илья</span>
          </span>
	</span>

	<span class="info-title-both">
	  <span class="ticket-star"><i class="glyphicon glyphicon-star unstared star"></i> 
            <span class="ticket-star-count">0</span>
          </span>
	  &nbsp;&nbsp;
	  <span class="glyphicon glyphicon-eye-open"></span> 12
	  &nbsp;&nbsp;
	  <span class="glyphicon glyphicon-comment"></span> 0  
	</span>
		
        <span class="info-title-last ticket-rating inactive">
	  <span class="vote plus" title="Нравится">
            <span class="glyphicon glyphicon-thumbs-up"></span>
          </span>
	  <span class="rating" title="Всего 0: ↑0 и ↓0">0</span>
	  <span class="vote minus" title="Не нравится">
            <span class="glyphicon glyphicon-thumbs-down"></span>
          </span>
	</span>
      </div>
    </div>
  </div>
</div>


<!-- Третий пост -->
						<div itemscope="" itemtype="" class="tickets-row">
						  <div class="panel panel-success">
						    <div class="panel-body">
						      <div class="name-section ticket-section">
						        <span class="name-section-style">
						          <a href="">
						            <span itemprop="articleSection">Программирование и Интернет
						          </a>
						        </span>
						      </div>

							<!--Заголовок вопроса-->
						      <h3 class="title title-ticket">
						        <a itemprop="url" href="">
						          <span itemprop="name">
						            <p><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Где скачать bootstrap?</p>
						          </span>
						        </a>
						      </h3>



      <div class="content">
        <p>Ребят, нужно ДЗ по WEB-у сделать. Не знаю, где скачать Bootstrap=)</p>
        <div class="text-right">
          <a href="" class="btn btn-success">Читать дальше</a>
        </div>
      </div>
    </div>


    <div class="panel-footer">
      <div data-id="">
        <span class="info-title-right">
          <span class="glyphicon glyphicon-calendar"></span>
          <span class="hidden" itemprop="datePublished" content="">
            2015-10-01
          </span>
          <span>01 октября 2015, 12:23</span>
        </span>

        <span class="info-title-both">
	  <span class="glyphicon glyphicon-user"></span> 
          <span itemprop="author" itemscope="" itemtype="">
            <span itemprop="name">Илья</span>
          </span>
	</span>

	<span class="info-title-both">
	  <span class="ticket-star"><i class="glyphicon glyphicon-star unstared star"></i> 
            <span class="ticket-star-count">0</span>
          </span>
	  &nbsp;&nbsp;
	  <span class="glyphicon glyphicon-eye-open"></span> 12
	  &nbsp;&nbsp;
	  <span class="glyphicon glyphicon-comment"></span> 0  
	</span>
		
        <span class="info-title-last ticket-rating inactive">
	  <span class="vote plus" title="Нравится">
            <span class="glyphicon glyphicon-thumbs-up"></span>
          </span>
	  <span class="rating" title="Всего 0: ↑0 и ↓0">0</span>
	  <span class="vote minus" title="Не нравится">
            <span class="glyphicon glyphicon-thumbs-down"></span>
          </span>
	</span>
      </div>
    </div>
  </div>
</div>


<div>
		<ul class="pager">
	  		<li><a href="#">Предыдущая</a></li>
	  		<li><a href="#">Следующая</a></li>
		</ul>				
	</div>



					</div>
					
					
					</div>

				</div>
			
{% endblock %}




















